@import "../../shared/app.scss";

.tasks {
    .ant-collapse {
        border: none;
        margin-bottom: 20px;
    }

    &__column {
        &--panel {
            border: none !important;
            
            .ant-collapse-header {
                width: 100%;
                font-weight: bold;
                font-size: 18px;
                background: white;
                display: inline-block;
            }

            .ant-collapse-content {
                border: none;
            }

            .ant-collapse-extra {
                button {
                    border: none;
                    clear: both;
                }
            }

            &--item {
                display: block;
                border-top: 1px solid $border-task;
                padding: 10px 5px;
            }

            &--item:last-child {
                border-bottom: 1px solid $border-task;
            }
        }
    }
}
